body {
    text-align: center;
    background-color: aquamarine;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
    box-shadow: 2px 4px 10px black;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f4c430;
}

.red {
    background-color: #ff6f61;
}

.purple {
    background-color: #1e90ff;
}

.green {
    background-color: #2ecc71;
}

.flash {
    background-color: azure;
}

.userflash {
    background-color: rgb(3, 236, 3);
}